:root {
    --layout-backgroundColor-1: #569af0
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

/* For NavBar */

ul.nav-bar {
    & li a:hover {
        color: black !important;
        text-decoration: dotted; 
      }
    & li a:active{
        position: relative;
        top: 1px;
    }
}

.home-layout {
    background-color: var(--layout-backgroundColor-1);
}

.login-layout {
    background-color: var(--layout-backgroundColor-1);
}