body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #569af0;
}

#root {
    height: 100vh;
}

/* For NavBar */

ul.nav-bar {
    & li a:hover {
        color: black !important;
        text-decoration: dotted; 
      }
    & li a:active{
        position: relative;
        top: 1px;
    }
}